[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dependencies/DirectXMath"]
	path = Dependencies/DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui
[submodule "Dependencies/DirectXGraphicsSamples"]
	path = Dependencies/DirectXGraphicsSamples
	url = https://github.com/microsoft/DirectX-Graphics-Samples
